# .env
DATABASE_URL=DATABASE_URL
RESEND_API_KEY=RESEND_API_KEY
NEXTAUTH_URL=NEXTAUTH_URL
NEXTAUTH_TRUST_HOST=NEXTAUTH_TRUST_HOST

# .env.local
AUTH_SECRET=AUTH_SECRET # Added by `npx auth`. Read more: https://cli.authjs.dev
UPLOADTHING_TOKEN=UPLOADTHING_TOKEN